# MongoDB settings
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=secret
MONGODB_URI=mongodb://localhost:27017/mydb

# API
NEXT_PUBLIC_API_URL=http://localhost:3000

# Redis (used for caching / cron jobs)
# you can use REDIS_HOST+REDIS_PORT or a full REDIS_URL
REDIS_HOST=blog_cms_service_redis
REDIS_PORT=6379
# REDIS_URL=redis://localhost:6379

# Application port
PORT=3000
